.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.form__input {
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    border: none;
    background-color:hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    transition: 1s;
    cursor: pointer;
}

.form__button:hover {
    background: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(180, 100%, 35%);
}

@media (max-width: 767px) {
    .form__input {
        display: grid;
        grid-template-columns: 1fr;
    }
}